*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    padding: 16px 0;
    background-color: violet;
    color: rgb(44, 3, 20);
    
    
}
header nav li {
    
    display: inline;    
    margin-left: 16px;
    position: relative;
}
header nav li a
{
    color: rgb(44, 3, 20);
    text-decoration: none;
}